.progressContainer {
  display: flex;
  justify-content: center;
  position: relative;
}
.progressRing {
  transform: rotate(-90deg);
}
.timer {
  position: absolute;
  top: 83px;
  font-size: 3rem;
  font-weight: 600;
  background: linear-gradient(to right, #e684ae, #79cbca, #77a1d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.startPauseBtn {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 16px;

  .controlBtn {
    cursor: pointer;
    transition: transform 0.4 ease;
    color: var(--color-break-teal);
  }
}

.controlBtn:active {
  transform: scale(0.9);
}
